/build
/install
/data
/source/config/*
*.app
*.desktop
*.user
*.log
!.gitignore

#Log file
nuclei.log

#IDE
CMakeLists.txt.user
cmake-build-*/
.idea/
.idea

#Conan created files
CMakeUserPresets.json

#Compilation database used by lsp (clangd)
compile_commands.json

#clangd database
.cache
